# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Thumbnails and Metadata
.Spotlight-V100
.Trashes
Thumbs.db

# Editors and IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History and Cursor
.history/
.cursorrules

# Dependencies and Build
node_modules/
build/
.cache/
.npm
.eslintcache

# Environment and Secrets
.env
.env.local
.env.*.local
*.log
